* {
  box-sizing: border-box;
  font-size: 1.2rem;
  line-height: 1.5;
  /* https://css-tricks.com/snippets/css/system-font-stack/ below: */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  display: flex;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  width: 500px;
  background-color: rosybrown;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.current-container {
  display: flex;
  gap: 20px;
  align-items: center;
  border: 1px solid rgb(192, 88, 88);
  border-radius: 10px;
  padding: 10px;
}

.temp-toggle {
  font-size: 0.7rem;
}

button {
  border-radius: 5px;
  border: 1px solid black;
}

input {
  border-radius: 5px;
  border: 1px solid black;
}
