* {
  box-sizing: border-box;
  font-size: 1.2rem;
  line-height: 1.5;
  /* https://css-tricks.com/snippets/css/system-font-stack/ below: */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
