/* Global Styles */
* {
  box-sizing: border-box;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  display: flex;
  justify-content: center;
  background-color: #f8e2e4;
}

/* Global Buttons and Inputs */
button,
input {
  border-radius: 5px;
  border: 1px solid black;
}

/* App Container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 750px;
  background-color: #f1c5ca;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

/* Current Container */
.current-container {
  width: 510px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #be2d3b;
  border-radius: 10px;
  padding: 10px;
  background-color: #e9b8be;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.current-container .icon img {
  width: 100px;
}

/* Forecast Container */
.forecast-container {
  display: flex;
  gap: 10px;
}

/* Temperature Toggle */
.temp-toggle {
  display: flex;
  gap: 10px;
}

.temp-toggle div,
.temp-toggle button {
  font-size: 0.7rem;
}

.temp-toggle div {
  width: 70px;
}

/* Forecast */
.forecast {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #be2d3b;
  border-radius: 10px;
  padding: 10px;
  background-color: #e9b8be;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.forecast * {
  font-size: 0.9rem;
}

/* Header */
.header-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.city,
.date {
  font-weight: bold;
}

/* Hidden Elements on Loadup */
.current-container,
.forecast-container,
.temp-f {
  display: none;
}

/* Hour Section */
.hour-section {
  width: 100%;
  text-align: center;
  border-spacing: 0;
}

.hour-row {
  background-color: #e9adb4;
}

.hour-row * {
  font-size: 0.9rem;
}

.hour-row:nth-child(2n) {
  background-color: #e09ba3;
}

.hour-row > td {
  padding: 0.25rem 0.5rem;
}

/* Loading Modal */
.loading-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(4px);
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
  * {
    font-size: 1.1rem;
  }

  .fl-temp {
    display: none !important;
  }

  .current-container {
    width: 370px;
  }

  .forecast {
    width: 180px;
  }
}
